main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary-color: #062f4f;
  --secondary-color: #B82601;
  --tertiary: #813772;
  --accent-color: #43c0f6;
  --dark: #000000;
  --text-color: #F5F5F5;
  --spacing-one: calc(1rem * 0.05);
  --spacing-two: calc(1rem);
  --spacing-four: calc(2rem);
}

* {
  box-sizing: border-box;
  background-color: var(--primary-color);
}

h1,
h2,
h4,
h6 {
  color: var(--text-color);
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  letter-spacing: .1em;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

.nav-bar {
  flex-wrap:wrap;
  flex:auto;
  align-items:flex-end;
}

.site-logo {
  padding-left: 50px;
  height: 5%;
  width: 5%;
  border-radius: 20px;
}

.header-JP {
  flex-direction:row;
  margin-left: 25px;
  font-size: 2.25rem;
}

li {
  list-style: none;  
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

span {
  display: inline-block;
  padding: 0 16px 0 16px;
}

code {
  font-family: 'Open Sans', sans-serif;
}

#about-me {
  color: var(--text-color);
  align-items: center;
  font-size: 1.75rem;
  padding: 20px;
  margin: 5px 0;
  line-height: 1.25;
}


img {
  border-radiu9s: 20px;
}

#salutation {
  font-size: 2.25rem;
  font-weight: bold;
}

#contact-me {
  text-align: center;
}

.project-container {
  width: 100%;
}

.project-card {
  position: relative;
  background-color: var(--secondary-color);
  max-width: 35%;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 0 60px rgba(0,0,0,0.15);
  overflow: hidden;
  display: block;
  margin: 0 auto;
  flex-direction:row;
  justify-content: start;
  align-items: center;
}

.project-title {
  font-size: 28px;
  background-color: var(--secondary-color);
}

.img-container {
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 40px 5px rgba(0,0,0,0.2);
}

.project-description {
  font-size: 1.2rem;
  word-spacing: var(--spacing-one);
  font-weight:lighter;
  background-color: var(--secondary-color);
  text-align: center;
}

.tags {
  background-color: var(--secondary-color);
  flex-wrap:wrap;
  flex-wrap:wrap;
  flex:auto;
  align-items:flex-end;
}

.tags h6 {
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  max-width: 15%;
  max-height: 10%;
  text-align:center;
  font-weight:bolder;
  background-color: var(--accent-color);
  color: var(--primary-color);
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
}

.project-links {
  background-color: var(--secondary-color);
  flex-wrap:wrap;
  flex:auto;
  align-items:flex-end;
}

.project-links a {
  color: var(--accent-color);
  text-align: center;
  background-color: var(--secondary-color);
}



