:root {
  --primary-color: #062f4f;
  --secondary-color: #B82601;
  --tertiary: #813772;
  --accent-color: #43c0f6;
  --dark: #000000;
  --text-color: #F5F5F5;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

code {
  font-family: 'Open Sans', sans-serif;
}

#about-me {
  color: var(--text-color);
  /* align-items: center; */
  font-size: 24px;
  padding: 20px;
}

img {
  border-radius: 20px;
}

#salutation {
  font-size: 48px;
  font-weight: bold;
}

#contact-me {
  text-align: center;
}
